/.DS_Store
/.ipynb_checkpoints
/.vscode
/Linear_Regression.ipynb
/NLP
/caesar.py
/csv_files
/hi.py
/lab1
/p.py
/palestine.c
/tempCodeRunnerFile.py
/test.py
/test_dir
/testdirectory
/untitled.py
/utils (1).py